.todoitem{
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: white;
    margin-top:16px;
}

.todoitem input{
    width: 16px;
    height: 16px;
}
.todoitem p{
    width:90%;
    font-size: 30px;
    font-weight: 600;
    margin: 10px 0px 14px;
    padding-left: 20px;
    box-sizing: border-box;
}

.striked{
    text-decoration: line-through;
}